* {
 	font-family: Arial, Helvetica, sans-serif;
}

body{
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
}

.base {
	margin: 0 auto;
	width: 90%;
}

.base input {
	width: 96%;
	border: 1px solid #aaa;
	border-radius: 5px;
	height: 50px;
	font-size: 20px;
	padding: 0 2%;
	color: #555;
	margin-bottom: 20px;
}

.base ul {
	padding-left: 17px;
}

.base ul li {
	margin-bottom: 5px;
}

.btn {		
	padding: 20px;
	display: table;
	border-radius: 5px;
	-webkit-box-shadow: 1.5px 1.5px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1.5px 1.5px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 1.5px 1px 2px 0px rgba(0,0,0,.5);
	margin-bottom: 20px;
	text-decoration: none;
	font-weight: bold;
	color: white;
}

.btn:active {		
	-webkit-box-shadow: inset 1.5px 1.5px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 1.5px 1.5px 4px 0px rgba(0,0,0,0.75);
	box-shadow: inset 1.5px 1px 2px 0px rgba(0,0,0,.5);
	color: white;
}

.btn-primary {
	background-color: #8A2BE2;
}

.btn-success {
	background-color: #00B233;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}	